{% set attributes = attributes.setAttribute('id', 'stack_comment-' ~ content['#stack_comment'].id()) %}

{{ title_prefix }}

<div{{ attributes }}>
  <div{{ content_attributes }}>
    {{ content }}
  </div>
</div>

{{ title_suffix }}
